<template>
  <div class="mdc-data-table mdc-data-table--select">
    <table class="mdc-data-table__content">
      <thead class="mdc-data-table__header">
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__column">Hole (Par)</th>
          <th class="mdc-data-table__column mdc-data-table__cell--numeric">Player #1</th>
          <th class="mdc-data-table__column mdc-data-table__cell--numeric">Player #1</th>
        </tr>
      </thead>
      <tbody>
      <tr class="mdc-data-table__row" v-for="(hole, index) in holes" :key="index" @click="selectHole(index+1)">
        <td class="mdc-data-table__cell">#{{index+1}}</th>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric" v-for="(value, key) in hole" :key="key">
          {{value}}
        </td>
      </tr>
      </tbody>
    </table>
    <!-- <div class="mdc-data-table__pagination">
      <span class="mdc-data-table__page-label">Top 9 of 18</span>
      <div class="mdc-data-table__pagination__controls">
        <mdc-icon icon="chevron_left"></mdc-icon>
        <mdc-icon icon="chevron_right"></mdc-icon>
      </div>
    </div> -->
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
} from 'vue-property-decorator';
import { namespace, State } from 'vuex-class';

import { Store } from 'vuex';

import Avatar from '@/components/Avatar.vue';
import SubnavAppBar from '@/components/SubnavAppBar.vue';

const games = namespace('games');
const navigation = namespace('navigation');

import { follow, parseResponse } from 'hubris';
import URI from 'urijs';

interface IGameScores {
  [key: string]: (number | null);
}

@Component({
  components: {
    Avatar,
    SubnavAppBar,
  },
})
export default class extends Vue {
  @navigation.Action public setNavigation!: (nav: any) => Promise<void>;
  private holes!: IGameScores[];

  public async created() {
    const nav = {
      start: [],
      end: [],
      contextMenu: [],
      mainAction: '',
      mainActionLocation: 'end',
      mainActionSpeedDial: [],
    };
    await this.setNavigation(nav);

    // const currentGame = store.games.currentGame;
    // const gameData = await this.$store.dispatch('games/loadGame', new URI('http://localhost:5000/games/123'));
    // const gameData = await fetch('http://localhost:5000/games/123').then(parseResponse);
    // console.log('Game data', { gameData });
  }

  public data() {
    return {
      holes: [
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
        { 1: 3, 2: 5 },
      ],
    };
  }

  private selectHole(hole: number) {
    const gameId = this.$route.params.game;

    this.$router.push(`/games/${gameId}/hole/${hole}/scores`);
  }
}
</script>

<style lang="scss">
// Taken from @material/theme repository
@import '@material/theme/mixins';
@import '@material/theme/variables';
@import '@material/typography/mixins';
@import '@material/typography/variables';

@mixin mdc-theme-prop-alpha($property, $style, $alpha) {
  $tone: mdc-theme-contrast-tone($style);
  $tone-color: if($tone == dark, black, white);

  #{$property}: rgba($tone-color, $alpha);
}

.mdc-data-table {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  white-space: nowrap;
  font-size: 13px;
  overflow-x: auto;
  //border: 1px solid mdc-theme-prop-opacity($mdc-theme-background, .12);
  background-color: $mdc-theme-background;
  @include mdc-theme-prop(color, text-primary-on-background);

  &--select-multiple, &--select {
    tbody .mdc-data-table__row {
      cursor: pointer;
    }
  }

  &--select-multiple {
    & .mdc-data-table__cell:first-of-type, & .mdc-data-table__column:first-of-type {
      // calculate correct width and padding for the checkbox to fit
      padding: 0 (24px - 11px);
      width: 24px * 2 + 18px;
    }
  }

  &__header &__row &__column {
    position: sticky;
    top: 0;
  }

  &__content {
    width: 100%;
    border-collapse: collapse;
  }

  &__cell {
    font-weight: 400;
  }

  &__cell, &__column {
    position: relative;
    height: 48px;
    text-align: left;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    vertical-align: middle;
    @include mdc-typography-overflow-ellipsis;

    &--numeric {
      text-align: right;
    }

    &:first-of-type {
      padding-left: 24px;

      border-right: 1px solid;
      @include mdc-theme-prop-alpha(border-color, $mdc-theme-background, .12);
    }
    &:nth-child(2) {
      padding-left: 16px;
    }
    &:last-of-type {
      padding-right: 24px;
    }
  }

  &__column {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 12px;
    @include mdc-theme-prop(color, text-secondary-on-background);

    &--sortable {
      user-select: none;
      cursor: pointer;

      &:before {
        content: '';
        font-family: 'Material Icons';
        font-size: 16px;
        font-feature-settings: 'liga';
        vertical-align: sub;

        display: inline-block;
        margin-right: 5px;
        transition: transform .2s ease;
      }
      &:hover:before {
        @include mdc-theme-prop(color, text-icon-on-background);
      }

      &[aria-sort=descending], &[aria-sort=ascending] {
        @include mdc-theme-prop(color, text-primary-on-background);
        &:before {
          content: 'arrow_upward';
        }
      }
      &[aria-sort=descending]:before {
        transform: rotate(-180deg);
      }
    }
  }

  // row in table column
  thead .mdc-data-table__row {
    position: relative;
    height: 56px;
    border-bottom: 1px solid;
    @include mdc-theme-prop-alpha(border-color, $mdc-theme-background, .12);
  }

  // row in table body
  tbody .mdc-data-table__row {
    position: relative;
    height: 48px;
    overflow: hidden;
    transition: background-color .15s linear;
    border-bottom: 1px solid;
    @include mdc-theme-prop-alpha(border-color, $mdc-theme-background, .12);

    &:hover {
      @include mdc-theme-prop-alpha(background-color, $mdc-theme-background, .07);
    }
    &:last-of-type {
      border-bottom: none;
    }

    &--disabled {
      pointer-events: none;
    }
    &--selected, &:active {
      background-color: rgba($mdc-theme-primary, .07);
      //@include mdc-theme-prop-alpha(background-color, $mdc-theme-background, .04);

      &:hover {
        background-color: rgba($mdc-theme-primary, .12);
      }
    }
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 0;
    margin: 0 16px;

    &__controls {
      margin-left: 44px;

      & *:not(:first-child) {
        margin-left: 24px;
      }
    }
  }
}
</style>
