<template>
  <div>
    ABOUT
  </div>
</template>


<script lang="ts">
import {
  Component,
  Vue,
} from 'vue-property-decorator';
import { namespace, State } from 'vuex-class';

import Avatar from '@/components/Avatar.vue';

const navigation = namespace('navigation');

@Component({
  components: {
    Avatar,
  },
})
export default class extends Vue {
  @navigation.Action private setNavigation!: (nav: any) => Promise<void>;

  public async created() {
    const nav = {
      start: [],
      end: [],
      contextMenu: [],
      mainAction: '',
      mainActionLocation: 'end',
      mainActionSpeedDial: [],
    };
    await this.setNavigation(nav);
  }
}
</script>
