<template>
  <div class="fs-games-hole-scores">
    <mdc-list avatar-list two-line interactive>
      <mdc-list-item>
        <avatar slot="start-detail" name="?"></avatar>
        John
        <span slot="secondary">Last: +1, Avg: +0.2</span>
      </mdc-list-item>
    </mdc-list>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
} from 'vue-property-decorator';
import { namespace, State } from 'vuex-class';

const navigation = namespace('navigation');


import Avatar from '@/components/Avatar.vue';

@Component({
  components: {
    Avatar,
  },
})
export default class extends Vue {
  @navigation.Action private setNavigation!: (nav: any) => Promise<void>;

  public async created() {
    const nav = {
      start: [],
      end: [],
      contextMenu: [],
      mainAction: 'golf_course',
      mainActionLocation: 'end',
      mainActionSpeedDial: [{ label: '1' }, { label: '2' }, { label: '3' }],
    };
    await this.setNavigation(nav);
  }
}
</script>

<style lang="scss">
.fs-games-hole-scores {
}
</style>

