<template>
  <div class="fs-auto-grow-input">
    <span class="fs-auto-grow-input__span">{{value}}</span>
    <input
      ref="input"
      type="text"
      class="fs-auto-grow-input__input"
      v-bind="$attrs"
      :value="value"
      v-on="inputListeners">
  </div>
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue,
} from 'vue-property-decorator';


@Component({
})
export default class extends Vue {
  public $refs!: {
    input: HTMLElement,
  };

  public inheritAttrs = false;

  @Prop() public value?: string;

  get inputListeners() {
    return {
      // We add all the listeners from the parent
      ...this.$listeners,
      // Then we can add custom listeners or override the
      // behavior of some listeners.
      // This ensures that the component works with v-model
      input: (event: UIEvent) => this.$emit('input', (event.target as HTMLInputElement).value),
    };
  }

  public focus() {
    this.$refs.input.focus();
  }
}
</script>


<style lang="scss">

.fs-auto-grow-input {
  position: relative;
  width: auto;

  &__span {
    position: relative;
    margin: 8px;
  }

  &__input {
    border: none;
    padding: 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}
</style>

