<template functional>
  <div class="fs-avatar" :class="['fs-avatar--color-' + ((props.name.charCodeAt() || 0 + props.name.length) % 10)]">
    <img :src="props.url" v-if="props.url" :alt="props.name">
    <label v-else>{{props.name[0]}}</label>
  </div>
</template>

<style lang="scss">

@import '@material/theme/_color-palette';
@import '@material/theme/_variables';

.fs-avatar {
  width: 40px;
  height: 40px;
  clip-path: circle(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

$background-colors:
  $material-color-red-200
  $material-color-pink-200
  $material-color-purple-900
  $material-color-teal-900
  $material-color-lime-800
  $material-color-orange-900
  $material-color-blue-grey-700
  $material-color-green-800
  $material-color-cyan-900
  $material-color-indigo-800;

@for $i from 1 through length($background-colors) {
  $c: nth($background-colors, $i);
  .fs-avatar--color-#{$i - 1} {
    background-color: $c;
    color: mdc-theme-accessible-ink-color($c);
  }
}
</style>

