
<template>
  <footer class="fs-bottom-app-bar-wrapper">
    <div class="fs-bottom-app-bar" :class="{'fs-bottom-app-bar--hidden': scrollHidden}">
      <transition-group tag="div" class="fs-bottom-app-bar__start">
        <template v-for="item in start">
          <mdc-top-app-bar-action v-if="item.icon" :icon="item.icon" :key="item.icon" @click="$emit('nav-item-click', item)"></mdc-top-app-bar-action>
          <mdc-top-app-bar-action v-else icon="menu" key="menu" @click="$emit('nav-item-click', item)"></mdc-top-app-bar-action>
        </template>
      </transition-group>

      <transition-group tag="div" class="fs-bottom-app-bar__end">
        <template v-for="item in end">
          <mdc-top-app-bar-action :icon="item.icon" :key="item.icon" @click="$emit('nav-item-click', item)"></mdc-top-app-bar-action>
        </template>

        <!-- <mdc-menu-anchor v-if="contextMenu.length">
          <mdc-top-app-bar-action icon="more_vert" key="context-menu"></mdc-top-app-bar-action>
        </mdc-menu-anchor> -->
      </transition-group>
    </div>

    <transition enter-active-class="mdc-fab--exited" leave-active-class="mdc-fab--exited">
      <mdc-fab
        v-if="fab && !fabSecondary"
        class="fs-bottom-app-bar__fab"
        :class="{'fs-bottom-app-bar__fab--hidden': scrollHidden}"
        @click="$emit('nav-fab-click', fab)"
        :icon="fab"
        :key="'primary' + fab">
      </mdc-fab>
    </transition>

    <speed-dial-fab
      :icon="fabSecondary ? fab : null"
      class="fs-bottom-app-bar__fab__secondary"
      :class="{'fs-bottom-app-bar__fab__secondary--hidden': scrollHidden}">
      <mdc-fab v-for="item in fabSpeedDial" :icon="item.icon" :key="item.icon || item.label" mini>{{item.label}}</mdc-fab>
    </speed-dial-fab>
  </footer>
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue,
} from 'vue-property-decorator';

import SpeedDialFab from '@/components/SpeedDialFab.vue';

import { IContextMenuItem, Item } from '@/store/navigation/types';

@Component({
  components: {
    SpeedDialFab,
  },
})
export default class BottomAppBar extends Vue {
  @Prop({ default: () => [] }) public start!: Item[];
  @Prop({ default: () => [] }) public end!: Item[];
  @Prop({ default: '' }) public fab!: string;
  @Prop({ default: false }) public fabSecondary!: boolean;
  @Prop({ default: () => [] }) public fabSpeedDial!: Item[];
  @Prop({ default: () => [] }) public contextMenu!: IContextMenuItem[];

  private scrollOffset = 0;
  private scrollHidden = false;

  public mounted() {
    if (typeof window !== 'undefined') {
      window.addEventListener('scroll', this.scrolled);
    }
  }

  public beforeDestroy() {
    if (typeof window !== 'undefined') {
      window.removeEventListener('scroll', this.scrolled);
    }
  }

  private scrolled() {
    const newOffset = window.pageYOffset;

    // TODO: Handle resize/re-layouts properly!
    // this.scrollHidden = this.scrollOffset - newOffset > 0;

    this.scrollOffset = newOffset;
  }
}
</script>

<style lang="scss">
@import '@/styles/theme.scss';

.fs-bottom-app-bar {
  height: 56px;
  background-color: $mdc-theme-primary;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  transition: transform 300ms linear;
  will-change: transform;

  &-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &--hidden {
    transform: translateY(58px);
  }

  &__start {
    display: flex;
    justify-content: flex-start;
    padding-left: 4px;
    flex-grow: 1;
    flex-basis: 0;
  }

  &__end {
    display: flex;
    justify-content: flex-end;
    padding-right: 4px;
    flex-grow: 1;
    flex-basis: 0;
  }

  &__action-item {
    transition: opacity 300ms ease;

    &.v-leave, &.v-enter-to {
      opacity: 1;
    }

    &.v-enter, &.v-leave-to {
      opacity: 0;
    }
  }

  &__fab {
    position: fixed;
    bottom: 28px;
    left: calc(50% -28px);

    &--hidden {
      transform: translateY(12px);
    }

    &__secondary {
      margin-top: 8px;

      transform: translateY(-12px);

      &--hidden {
        transform: none;
      }

      &__wrapper {
        position: fixed;
        right: 1rem;
        bottom: 28px;
      }

      &__speed-dial {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
          margin: 8px 0;

          @for $i from 1 through 6 {
            &:nth-last-child(#{$i}) {
              &.v-leave, &.v-enter-to {
                transform: translateY($i * 56px)
              }
            }
          }
        }
      }

    }
  }
}


</style>

