<template>
  <ul class="score-pad">

  <li v-for="item in items"
      :key="item.label"
      class="score-pad__item"
      :class="{'score-pad__item--checked': item.score === value}"
      @click="$emit('input', item.score)">
    <span class="score-pad__item__score">{{item.score}}</span>
    <span v-if="item.label" class="score-pad__item__label">{{item.label}}</span>
  </li>
</ul>

</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue,
} from 'vue-property-decorator';

import { bind, map } from '@/lib/maybe';
import { range } from '@/lib/core';

interface IScorePadItem {
  score: number;
  label?: string;
}

const SCORE_DIFF_LABEL = new Map([
  [-2, 'Eagle'],
  [-1, 'Birdie'],
  [0, 'Par'],
  [1, 'Bogey'],
  [2, 'Dbl Bogey'],
]);

@Component({})
export default class ScorePad extends Vue {
  @Prop({ default: null }) public value!: null | number;
  @Prop() public par?: number;

  get items(): IScorePadItem[] {
    return Array.from(range(1, 9)).map((i) => ({ score: i, label: this.getLabel(i) }));
  }

  private getLabel(score: number) {
    const diff = map((p: number) => score - p)(this.par);
    return bind<number, string>((i) => SCORE_DIFF_LABEL.get(i))(diff);
  }
}
</script>

<style>

.score-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
  list-style: none;
  margin: 0;
  padding: 0;
  
  min-width: 200px;
  min-height: 200px;
  
  font-family: 'Roboto Mono';
  /* font-family: 'Consolas', 'Operator Mono'; */

  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

.score-pad__item {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 2em;
  min-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.score-pad__item--checked {
  background-color: var(--mdc-theme-secondary);
  color: var(--mdc-theme-on-secondary);
}

.score-pad__item:hover {
  cursor: pointer;
}

.score-pad__item__score {
  font-weight: bold;
  font-size: larger;
}

.score-pad__item__label {
  position: absolute;
  top: calc(50% + 1em);
  font-weight: 100;
  font-size: smaller;
}


</style>


