<template>
  <div class="fs-speed-dial-fab">
    <transition-group class="fs-speed-dial-fab__speed-dial" tag="div" appear>
      <slot v-if="open"></slot>
    </transition-group>
    <transition enter-active-class="mdc-fab--exited" leave-active-class="mdc-fab--exited" mode="out-in">
      <mdc-fab v-if="icon" @click="toggle" class="fs-speed-dial-fab__fab" :class="{ 'fs-speed-dial-fab__fab--show-close': showClose }" :key="icon">
        <transition mode="out-in">
          <mdc-icon v-if="showClose" icon="close" key="close"></mdc-icon>
          <mdc-icon v-else :icon="icon" key="icon"></mdc-icon>
        </transition>
      </mdc-fab>
    </transition>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue,
} from 'vue-property-decorator';

@Component({
})
export default class extends Vue {
  @Prop({ default: '' }) public icon!: string;

  private open = false;

  public toggle() {
    if (!this.$slots.default) {
      return;
    }

    this.open = !this.open;
  }

  public data() {
    return { open: false };
  }

  get fabIcon() {
    return this.showClose ? 'close' : this.icon;
  }

  get showClose() {
    return !!this.open;
  }
}
</script>

<style lang="scss">

.fs-speed-dial-fab {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  &__fab {
    margin-top: 8px;

    &--show-close > * {
      transform: rotate(90deg);
    }

    & > * {
      transition: transform 150ms linear;
      will-change: transform;
    }

    & .mdc-icon {
      transition: opacity 150ms linear;
      will-change: opacity;
    }

    & .mdc-icon.v-enter, & .mdc-icon.v-leave-to {
      opacity: 0.5;
    }
  }

  &__speed-dial {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin: 8px 0;
      will-change: opacity;
    }

    & > *.v-enter, & > *.v-leave-to {
      opacity: 0;
    }


    @for $i from 1 through 6 {
      & > *:nth-last-child(#{$i}).v-enter-active {
        transition: opacity 150ms linear ($i * 50ms);
      }

      & > *:nth-child(#{$i}).v-leave-active {
        transition: opacity 150ms linear ($i * 50ms);
      }
    }
  }
}
</style>

