<template>
  <div class="fs-subnav">
    <mdc-top-app-bar icon="arrow_back" :title="title" class="fs-subnav__nav" @nav="goBack">
      <slot name="subnav"></slot>
      <slot name="tabs" slot="tabs"></slot>
    </mdc-top-app-bar>
    <div class="fs-subnav__content" :class="{ 'fs-subnav__content--tabbed': $slots.tabs }">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue,
} from 'vue-property-decorator';

@Component({
})
export default class extends Vue {
  @Prop() public title!: string | null;
  @Prop() public navRoute!: string | null;

  public goBack() {
    if (this.navRoute) {
      this.$router.push(this.navRoute);
    } else {
      this.$router.back();
    }
  }
}
</script>


<style lang="scss">

@import '@material/top-app-bar/_mixins';
@import '@material/elevation/mdc-elevation';

.fs-subnav {

  &__content {
    padding-top: 56px;

    &--tabbed {
      padding-top: 64px + 48px;
    }
  }

  &__nav {
    z-index: 20;

    @include mdc-elevation(2);
    @include mdc-top-app-bar-fill-color(surface);
    @include mdc-top-app-bar-ink-color(on-surface);
    @include mdc-top-app-bar-icon-ink-color(on-surface);
    // border-bottom: solid 1px grey;
  }
}

</style>



