<template>
  <score-pad :par="3" :value="2" />
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue,
} from 'vue-property-decorator';

import ScorePad from '@/components/ScorePad.vue';

@Component({
    components: { ScorePad },
})
export default class Score extends Vue {
}
</script>

