<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">

$mdc-theme-primary: #33691e;
$mdc-theme-accent: #80d8ff;
$mdc-theme-background: #fff;

@import 'vue-mdc-adapter/dist/styles';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
