<template>
  <subnav-app-bar title="Select Course">
    <mdc-list avatar-list two-line interactive>
      <mdc-list-item @click="selectCourse(c)" v-for="c in courses" :key="c.url">
        <avatar slot="start-detail" :name="c.name" :logo="c.logo"></avatar>
        <span>{{c.name}}</span>
        <span slot="secondary">18 holes, par 57</span>
      </mdc-list-item>
    </mdc-list>
  </subnav-app-bar>
</template>

<script lang="ts">
import {
  Component,
  Vue,
} from 'vue-property-decorator';
import { namespace, State } from 'vuex-class';

import { Store } from 'vuex';

import Avatar from '@/components/Avatar.vue';
import SubnavAppBar from '@/components/SubnavAppBar.vue';

import { ICourse } from '@/store/courses/types';

const navigation = namespace('navigation');
const courses = namespace('courses');
const games = namespace('games');

@Component({
  components: {
    Avatar,
    SubnavAppBar,
  },
})
export default class extends Vue {
  @courses.State public courses!: ICourse[];
  @games.Action private selectNewGameCourse!: (course: ICourse) => Promise<void>;
  @navigation.Action private setNavigation!: (nav: any) => Promise<void>;

  public async created() {
    const nav = {
      start: [],
      end: [],
      contextMenu: [],
      mainAction: 'add',
      mainActionLocation: 'end',
    };
    await this.setNavigation(nav);
  }

  private goBack() {
    this.$router.push('/');
  }

  private selectCourse(course: ICourse) {
    this.selectNewGameCourse(course).then(() => {
      this.$router.push('/games/new/players');
    });
  }
}
</script>


