<template>
  <subnav-app-bar title="Select Players">
    <div class="fs-games-new-players__selected">
      <label for="selected-players-input" class="fs-games-new-players__selected__label">Players</label>
      <mdc-chip-set input @click.native="selectedChipsAreaClick" style="width: 100%;">
        <mdc-chip v-for="p in newGameForm.players" :key="p.url" trailing-icon="remove_circle" @MDCChip:trailingIconInteraction="removeNewGamePlayer(p)">{{p.name}}</mdc-chip>
        <auto-grow-input ref="playerSearchInput" class="fs-games-new-players__selected__input" v-model="playerInput"></auto-grow-input>
      </mdc-chip-set>
    </div>
    <mdc-list avatar-list interactive>
      <mdc-list-item v-for="p in availablePlayers" :key="p.url" @click="addNewGamePlayer(p)">
        <avatar slot="start-detail" :name="p.name" :url="p.avatar"></avatar>
        <span>{{p.name}}</span>
      </mdc-list-item>
    </mdc-list>
  </subnav-app-bar>
</template>

<script lang="ts">
import {
  Component,
  Vue,
} from 'vue-property-decorator';
import { namespace, State } from 'vuex-class';

import { Store } from 'vuex';

import AutoGrowInput from '@/components/AutoGrowInput.vue';
import Avatar from '@/components/Avatar.vue';
import SubnavAppBar from '@/components/SubnavAppBar.vue';

import { INewGameForm } from '@/store/games/types';
import { IPlayer } from '@/store/players/types';

const navigation = namespace('navigation');
const players = namespace('players');
const games = namespace('games');

@Component({
  components: {
    AutoGrowInput,
    Avatar,
    SubnavAppBar,
  },
})
export default class extends Vue {
  public $refs!: {
    playerSearchInput: AutoGrowInput,
  };

  @players.State private players!: IPlayer[];
  @games.State private newGameForm!: INewGameForm;

  @navigation.Action private setNavigation!: (nav: any) => Promise<void>;

  @games.Action private addNewGamePlayer!: (player: IPlayer) => Promise<void>;
  @games.Action private removeNewGamePlayer!: (player: IPlayer) => Promise<void>;

  public async created() {
    const nav = {
      start: [],
      end: [],
      contextMenu: [],
      mainAction: 'done',
      mainActionLocation: 'end',
      mainActionSpeedDial: [{ icon: 'add' }],
    };
    await this.setNavigation(nav);
  }

  get gamePlayers() {
    return new Set(this.newGameForm.players);
  }

  get availablePlayers() {
    const currentPlayers = this.gamePlayers;

    return this.players.filter((p) => !currentPlayers.has(p));
  }

  public data() {
    return { playerInput: '' };
  }

  private goBack() {
    this.$router.push('/');
  }

  private selectedChipsAreaClick() {
    this.$refs.playerSearchInput.focus();
  }
}
</script>

<style lang="scss">

@import '@material/elevation/mdc-elevation';

.fs-games-new-players {
  &__selected {
    @include mdc-elevation(2);

    display: flex;
    flex-direction: row;
    align-items: center;

    &__input {
      align-self: center;
      border: none;
      height: 32px;
      width: 20px;

      &:focus {
        width: 90px;
      }
    }

    &__label {
      height: 48px;
      align-self: flex-start;
      margin: 0 8px;
      display: flex;
      align-items: center;
    }
  }
}
</style>



