<template>
  <div>
    <main>
      <router-view />
    </main>


    <!-- <speed-dial-fab :icon="fabSecondary ? mainAction : null">
      <mdc-fab icon="add" key="add" mini></mdc-fab>
      <mdc-fab icon="home" key="home" mini></mdc-fab>
      <mdc-fab icon="edit" key="edit" mini></mdc-fab>
    </speed-dial-fab> -->
    <bottom-app-bar
      :start="startNav"
      :end="endNav"
      :fab="mainAction"
      :fab-secondary="fabSecondary"
      :fab-speed-dial="mainActionSpeedDial"
      :context-menu="contextMenu"
      @nav-item-click="$root.$emit('nav-action', arguments[0])"
      @nav-fab-click="$root.$emit('nav-main-action', arguments[0])">
    </bottom-app-bar>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue,
} from 'vue-property-decorator';
import { namespace } from 'vuex-class';

/* tslint:disable:no-implicit-dependencies */
import BottomAppBar from '@/components/BottomAppBar.vue';
import SpeedDialFab from '@/components/SpeedDialFab.vue';
/* tslint:enable:no-implicit-dependencies */

import { IContextMenuItem, Item } from '@/store/navigation/types';

const navigation = namespace('navigation');

@Component({
  components: {
    BottomAppBar,
    SpeedDialFab,
  },
})
export default class Default extends Vue {
  @navigation.State private startNav!: Item[];
  @navigation.State private endNav!: Item[];
  @navigation.State private mainAction!: string;
  @navigation.State private mainActionLocation!: string;
  @navigation.State private mainActionSpeedDial!: Item[];
  @navigation.State private contextMenu!: IContextMenuItem[];

  private open = false;

  get fabSecondary() {
    return this.mainActionLocation === 'end';
  }

  public data() {
    return { open: true };
  }

  private toggle() {
    this.open = !this.open;
  }
}
</script>


