<template>
  <subnav-app-bar :title="title" :nav-route="`/games/${this.$route.params.id}`">
    <mdc-tab-bar class="fs-games-hole__tabs" slot="tabs">
      <mdc-tab :to="scoresRoute">Scores</mdc-tab>
      <mdc-tab :to="aboutRoute">About</mdc-tab>
    </mdc-tab-bar>

    <div class="fs-games-hole__content">
      <router-view></router-view>
    </div>
  </subnav-app-bar>
</template>

<script lang="ts">
import {
  Component,
  Vue,
} from 'vue-property-decorator';
import { namespace, State } from 'vuex-class';

import SubnavAppBar from '@/components/SubnavAppBar.vue';

@Component({
  components: {
    SubnavAppBar,
  },
})
export default class extends Vue {
  get scoresRoute() {
    return `/games/${this.$route.params.id}/hole/${this.$route.params.hole}/scores`;
  }

  get aboutRoute() {
    return `/games/${this.$route.params.id}/hole/${this.$route.params.hole}/about`;
  }

  get title() {
    return `Hole #${this.$route.params.hole}`;
  }
}
</script>

<style lang="scss">

@import "@material/elevation/mdc-elevation";

$fs-games-hole-image-height: 120px;

.fs-games-hole {
  &__content {
    min-height: calc(100vh - 48px);
  }

  &__header {
    height: $fs-games-hole-image-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__text {
      margin: 0 16px;
      min-width: 33%;
    }

    &__label {
      margin: 0;
    }

    &__image {
      height: 100%;
      background-size: cover;
      background-position: center;
      width: 100%;
    }
  }

  &__tabs {
    // @include mdc-elevation(4);

    width: 100%;
    // position: fixed;
    // top: 0;
    background-color: white;
  }
}
</style>


